.container {
  text-align: center;
}
.header {
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.img {
  height: 50px;
  padding: 0px;
  width: 100px;
  margin: 20px 20px 20px 50px;
  border: 0px solid #6c5b5b;
}
.buttonstyle {
  border-radius: 5px;
  background-color: #848be4;
  border: 0px solid #170909;
  color: #fff8f8;
}
.form {
  display: flex;
  margin: 20px;
  text-align: justify;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.title {
  margin: 0px;
  display: flex;
  align-items: start;
  align-content: start;
}
.active {
  background-color: #85ec85;
}
.buttondiv {
  margin: 70px 0px 0px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttonedit {
  margin: 0;
  padding: 5px;
  background-color: #b9a8a8;
  border-radius: 5px;
  border: 0px solid #191111;
  color: #ffffff;
}
.imageconfirm {
  width: 150px;
}
