.root {
}
.container {
  text-align: center;
}
.header {
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.img {
  height: 50px;
  width: 50px;
  padding: 10px;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  justify-items: center;
  align-content: center;
}
.progress-container-line {
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.reviewdeatils {
  display: flex;
  margin: 0px;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.buttonstyle {
  padding: 5px;
  margin: 50px 50px 20px;
  background-color: #70c39e;
  background-image: none;
  border: 0px solid #000;
  border-radius: 5px;
  color: #f5ecec;
}
.buttonedit {
  margin: 1px 50px 50px;
  padding: 5px;
  background-color: #b9a8a8;
  border-radius: 5px;
  border: 0px solid #191111;
  color: #ffffff;
}
.form {
  display: flex;
  margin: 20px;
  text-align: justify;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
